{% extends 'base.html' %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">welcome to slate.io</h1>
      <p class="lead text-muted">Changing the way you make your grocery list forever!</p>
      <p>
        <a href="#" class="btn btn-slate my-2">Sign Up</a>
        <a href="#" class="btn btn-secondary my-2">Sign In</a>
      </p>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">

      <div class="row">
        {% for recipe in recipes.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ recipe.image.url }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
            <div class="card-body">
              <p class="card-text">{{ recipe.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted">Author</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
